* {
    box-sizing: border-box;
}

body { 
    background-color: #007e77;
    color: white;
    font-family: 'Kanit', sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height:30px;
    margin-left: 15px;
}

h1 {
    font-family: 'Kanit', sans-serif;
    font-size: 40px;
    font-weight: bold;
}


a {
    color:lightgray;
}

.grid {
display: grid;
}

/* Navbar */
.page-header {
    display:flex;
    flex-direction: column;
    align-content: space-evenly;
    align-self: auto;
    gap: inherit;
    padding: 20px;
}


.navigation-list {
    display:flex;
    flex-flow: row nowrap;
    gap: 30px;
    align-items: center;
    align-content: center;
    align-self:auto;
    justify-content: space-evenly;
    justify-items: start;
    list-style-type: none;
    color:lightgray;
}

.navigation-list li  {
    display: inherit;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
}

.navigation-list a {
    text-decoration-line: none !important;
}

.navigation-list a:active {
    text-decoration-line: overline;
}

.navigation-list a:before {
    left:0px;
    top:0px;
}

.navigation-list a:after {
    right: 0px;
    bottom: 0px;
}


.navigation-list a:hover:before , .navigation-list a:hover:after {
    opacity: 1;
    height:2px;
    width: 100%;
    cursor:pointer;
}

.Hamburger-menu{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: lightgrey;
}

/* Footer */
footer > p {
    align-content: center;
}
     
.twitter-icon , .linkedin-icon , .github-icon  {
    padding:0px 5px 0px 5px ;
     }

.page-footer{
    clear: both;
    display: flex;
    flex-direction: column;
    text-align: center;     
}

.social-media {
    padding:10px 15px;
}

/* Index page */
#profile {
    max-width: 700px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    text-align: center;
    background-color: #FFFFDE;
    color: black !important;
}

.profile-text {
    display: flex;
    flex-flow: row wrap;
    align-content: space-evenly;
    justify-content: space-evenly;
    width: 95%;
}

.portrait {
    float: left;
    border-radius: 50%;
    border-color: black;
    margin:3px 30px;
    min-width: 100px;
    max-width: 215px; 
    height: auto;    
}

.check-code {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
    color: #007e77;
    text-decoration: none;
    margin-bottom: 5px;
}

/* About Page */

.table {
margin: auto;
}

 thead , tbody , th , td  {
    border: 3px dotted white;
    padding: 8px;
    width: 40%;
}

.about-me-info {
    text-align: center;
    margin: 20px 12px;
    padding: 16px;

}

.about-me_pic {
    border-radius: 30%;
    width: 250px;
    height: auto;
}

.my-skills {
    text-align: center;
}
.container-skills {
    display: grid;
    grid-template-columns: auto ;
    grid-template-rows: auto auto auto auto;
}

#icon-tech{
    width: 100px;
    height: auto;
    margin: 10px;
}


.tech-stack {
    text-align: center;
}

.table-grid{
    display: grid;
    gap: 20px 20px;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    align-items: center;
    justify-content: center;
}

.techstack {
margin: 10px 0px;
}

 #img-Mexico {
    display: flex;
    margin: 20px auto;
    width: 60%;
    height: auto;
    position: relative;
}

.img-Mexico {
   min-width: 90%;
   place-content: center;
   animation: mexico 6s infinite ;
   margin: 0 auto;
}

/* Contact Page */
#form{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto auto;
    justify-content: center;
}

.email-form {
    margin: 10px 0px;
}

#visitors-message, #visitors-message-button , #visitors-email , #visitors-name {
    background-color: transparent;
    color:white;
    font-weight: bold;
    border: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
}

#visitors-message-button {
    margin: 10px 0px;
}

#visitors-message-button:hover, #visitors-message-button:focus {
    opacity: .7;
    color:lightgray;
    border-color: lightgray;
    cursor:pointer;
}

::placeholder {
    color: white;
}

.mail-to {
    text-decoration: none;
}

.call-me {
    color: lightgray;
}

.call-me:link {
    text-decoration: none;
}

.call-me:hover , .call-me:focus {
    opacity: .8;
    text-decoration: underline dotted lightgrey;
}

.call-me:visited {
    text-decoration: overline dashed lightgrey;
}

::placeholder{
color:white;
}

/* Work Page */
 .section-header {
    text-align:center;
 }

 .grid-container {
    width: 90vw;
    gap: 2em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-right: 25px;
    margin-left: 25px;
    justify-content:center ;
}
 
 .grid-item {
    border: white radius 10px;
    border-style: dashed;
    border-width: 1px;
    color:white;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-self: center;
    padding: 18px;
}
.project-title{
    justify-content: center;
}

.project-p{
    align-self: center;
}
 #work-img{
    width: 350px;
    height: auto;
    align-self: center;
 }

 .link-Example {
    display: inherit;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
    text-decoration: underline dashed;
}

 /* Device Screen */
 
 @media screen and (max-width: 322px) {

/* Index */
#profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align:center;
    margin: 40px 5px;
}

.portrait{
    max-width: 90%;
    border-radius: 50%;
    margin-bottom: 10px;
    padding: 10px;
}

/* About me */
/* Work */
/* Contact */
 }

 @media screen and (max-width: 376px) {

/*Body*/
body{
    font-size: 15px !important;
    line-height: 20px !important;
}    

 /*Navigation-bar */
 .page-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: normal; 
    padding: 10px 5px;
}

.page-header_item {
    border-radius: 20px;
    flex: 0 0 200px;
    margin-bottom: 10px;
}

.navigation-list {
    display: grid;
    list-style-type: none;
    color:#f7f7cd;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    align-self: auto;
    text-align: justify;
}

.navigation-list li  {
    display: grid;
    align-content: justify;
    text-align: justify;
    padding: 10px 0px;
    font-weight: bold;
    font-size: 1.25rem;
}

/* Footer */

.social-media {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    justify-content: center;
    text-align: center;
    padding:10px 15px;
    align-content: center;
}
.twitter-icon , .github-icon , .linkedin-icon {
    justify-content: center;
    text-align: center;
    align-content: center;
}

 /*Index */
 #profile {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 90%;
    align-content: center;
    justify-content: center;
    margin: 40px 5px;
    text-indent: 2px; 
    line-height: 20px;
}

.portrait {
    min-width: 145px;
    max-width: 160px!important;
}


.check-code {
    color: #007e77;
}

h1 {
font-size: 25px;
}

/*About me */

.table {
    margin: auto;
}

#img-Mexico {
    margin: 0px auto;
    min-width: 50%;
    position: relative;
   
        
}
.about-me-info{
    text-align: center;

}
.about-me_pic {
    border-radius: 40%;
    width: 250px;
    height: auto;
}

.container-skills{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin: 8px;
    padding: 8px;
}

 .img-Mexico {
    min-width: 45%;
    min-height: auto; 
    display:grid;
    place-content: center;
} 

/*Contact */
#form {
    display: grid;
    justify-content: center;
}

 
/*Work */
 .grid-container {
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    margin:5px;
    width: 90%;
}

  .link-Example {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
 }  
}

@media screen and (max-width: 426px) {
    
body{
        font-size: 18px;
        line-height: 30px;
}

/*Navigation-bar */
.page-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: normal; 
    padding: 10px 5px;
}

.page-header_item {
    border-radius: 20px;
    flex: 0 0 200px;
    margin-bottom: 10px;
}

.navigation-list {
    display: grid;
    list-style-type: none;
    color:#f7f7cd;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    align-self: auto;
    text-align: justify;
}

.navigation-list li  {
    display: grid;
    align-content: justify;
    text-align: justify;
    padding: 10px 0px;
    font-weight: bold;
    font-size: 1.5rem;
}
.Hamburger-menu{
    display: block;
}
.Hamburger-menu.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg)
}
.Hamburger-menu.active .bar:nth-child(2) {
    opacity: 0;
}
.Hamburger-menu.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg)
}
.navigation-list {
    position: fixed;
    left: -100%;
    top: 0px;
    gap: 0;
    flex-direction: column;
    width: 100%;
    text-align: center;
    transition: 0.3s;
}

.navigation-list.active{
    left: 0;
}

/* Index page*/
#profile {
    display: flex !important;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 95%;
    text-align: center;
    align-content: justify;
    justify-content:justify;
    margin: 40px 5px;
    text-indent: 2px; 
    line-height: 20px;
}

.portrait {
    display:inline-flex;
    align-content:center;
    max-width: 215px;
    min-width: 130px;
}

.profile-text {
    display:inline-block;
    align-content: center;
}

.check-code {
    display:inline-block;
    align-content: center;
    color: #007e77;
}

/* About me*/
#img-Mexico {
    display: flex;
    margin: 0px auto;
    min-width: 50%;
    position: relative;
}
.about-me-info{
    width: 80%;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.about-me_pic {
    border-radius: 50%;
    width: 250px;
    height: auto;
}
.container-skills{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin: 8px;
    padding: 12px;
}

.table-grid{
    display: grid;
    gap: 20px 20px;
    grid-template-columns: auto auto ;
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto;
    align-items: center;
    justify-content: center;
}   


/* Work page*/
.grid-container {
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    margin:5px;
    width: 95%;
} 

.link-Example {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
}
}

@media screen and (max-width: 768px) {

/*Navigation-bar */
h1 {
font-size: 30px;
}

.page-header {
    display: flex;
    flex-direction: row-reverse;
    padding: 10px;
}

.page-header_item {
    border-radius: 20px;
    flex: 0 0 200px;
    margin-bottom: 10px;
}

.navigation-list {
    display: grid;
    list-style-type: none;
    color:#f7f7cd;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    align-self: auto;
    text-align: justify;
}

.navigation-list li  {
    display: grid;
    align-content: justify;
    text-align: justify;
    padding: 10px 2px;
    margin: 5px 5px;
    font-weight: bold;
    font-size: 1.5rem;
}

.Hamburger-menu{
    display: block;
}
.Hamburger-menu.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg)
}
.Hamburger-menu.active .bar:nth-child(2) {
    opacity: 0;
}
.Hamburger-menu.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg)
}
.navigation-list {
    position: fixed;
    left: -100%;
    top: 0px;
    gap: 0;
    flex-direction: column;
    width: 100%;
    text-align: center;
    transition: 0.3s;
}

.navigation-list.active{
    left: 0;
}

 /*Index */
 #profile {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:1fr;
    width: 95%;
    align-content: justify;
    justify-content:justify;
    margin: 40px 5px;
    text-indent: 2px; 
    line-height: 20px;
}

.portrait {
    display:inline-flex;
    align-content:space-between;
    max-width: 215px;
}

.profile-text {
    display:inline-block;
    align-content: center;
}

.check-code {
    display:inline-block;
    align-content: center;
    color: #007e77;
}

/* About me*/
.table {
    margin: auto;
    position: center;
}

#img-Mexico {
    display: flex;
    margin: 0px auto;
    min-width: 50%;
    position: relative;
}
 .img-Mexico {
    min-width: 100%;
    min-height: auto;
    display:grid;
    place-content: center;
} 

/* Work page*/
.grid-container {
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    margin:5px;
    width: 95%;
} 

.link-Example {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
}

}


@media screen and (min-width: 2000px) {
    body {
        font-size: 30px;
        line-height: 25px;
    }
    .navigation-list li {
        font-size: 2rem;
    }
/* About me */
/* Work */

}

@keyframes mexico {
0% {background-color: green;

}
50% {background-color:whitesmoke;
}
100% {background-color: red;
}
}