* {
    box-sizing: border-box;
}

body { 
    background-color: #007e77;
    color: white;
    font-family: 'Kanit', sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height:30px;
}

h1 {
    font-family: 'Kanit', sans-serif;
    font-size: 40px;
    font-weight: bold;
}


a, .a-CS {
    color:lightgrey;
}

.grid {
display: grid;
}

/* Navbar */
.page-header {
    display:flex;
    flex-direction: column;
    align-content: space-evenly;
    align-self: auto;
    gap: inherit;
    padding: 20px;
}


.navigation-list {
    display:flex;
    flex-flow: row nowrap;
    gap: 30px;
    align-items: center;
    align-content: center;
    align-self:auto;
    justify-content: space-evenly;
    justify-items: start;
    list-style-type: none;
    color:lightgray;
}

.navigation-list li  {
    display: inherit;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
}

.navigation-list a {
    text-decoration-line: none !important;
}

.navigation-list a:active {
    text-decoration-line: overline;
}

.navigation-list a:before {
    left:0px;
    top:0px;
}

.navigation-list a:after {
    right: 0px;
    bottom: 0px;
}


.navigation-list a:hover:before , .navigation-list a:hover:after {
    opacity: 1;
    height:2px;
    width: 100%;
    cursor:pointer;
}

.Hamburger-menu{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: lightgrey;
}

/* Footer */
footer > p {
    align-content: center;
}

.page-footer{
    clear: both;
    display: flex;
    flex-direction: column;
    text-align: center;     
}

.social-media {
    padding:10px 15px;
    margin-bottom: 20px;
}

/* Index page */
#profile {
    max-width: 700px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    text-align: center;
}

.profile-text {
    display: flex;
    flex-flow: row wrap;
    align-content: space-evenly;
    justify-content: space-evenly;
    width: 95%;
}

.portrait {
    float: left;
    border-radius: 50%;
    border-color: black;
    margin:3px 30px;
    min-width: 100px;
    max-width: 215px; 
    height: auto;    
}

.check-code {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
    color: lightgrey;
    text-decoration: none;
    margin-bottom: 5px;
}

/* About Page */

#container-about-me{
    background-color: white;
    color: #007e77;
    padding: 5px 50px;
    width: auto;
}


.about-me-info, .more-about-me {
    text-align: center;
    margin: 20px 12px;
    padding: 16px;
    width: 80vw;
    height: auto;

}

.about-me_pic {
    border-radius: 15%;
    width: 70vw;
    height: 75vw;
}

.my-skills {
    text-align: center;
}

.container-skills {
    display: grid;
    grid-template-columns: auto ;
    grid-template-rows: auto auto auto auto;
}

#icon-tech{
    width: 100px;
    height: auto;
    margin: 10px;
}


.tech-stack {
    text-align: center;
}

.table-grid-container {
    background-color: #007e77;
    color: white;
    margin-left: -50vw;
    margin-right: -50vw;
}

.table-grid{
    display: grid;
    gap: 20px 20px;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    align-items: center;
    justify-content: center;
    margin: 20px 0px;
}

.techstack {
margin: 10px 0px;
}


/* Contact Page */
.contact-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 30px 0px;
}

#email-icon, #phone-icon, .linkedin-icon , .github-icon{
    width: 50px;
    height: 50px;
    margin: 0px 20px;
}

/* Work Page */
 .section-header {
    text-align:center;
    font-size: 3rem;
    font-weight: bold;
    margin-top: 10%;
    margin-bottom: 10%;
 }

 .grid-container {
    width: 95vw;
    gap: 2em;
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    margin:5px;
    justify-content:center ;

}
 
 .grid-item {
    border: white radius 10px;
    border-radius: 1%;
    border-style: dashed;
    border-width: 1px;
    color:white;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-self: center;
    padding: 18px;
}
.project-title{
    justify-content: center;
}

.project-p{
    align-self: center;
    width: 80vw;
}
 #work-img{
    width: 350px;
    border-radius: 2%;
    height: auto;
    align-self: center;
 }

 .link-Example {
    display: inherit;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
    text-decoration: none;
}

/* Case Study */
.body-CS{
    background-color: white;
    color: #121212;
    font-family: 'Kanit', sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height:30px;
    margin-left: 15px;
}

.container-CS{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.header-CS {
    margin: 15px 10px;
    text-align: center;
}

.p-CS{
    text-align: center;
    width: 85%;
    margin-left: auto;
    margin-right: auto; 
}

.container-slides{
    position: relative;
    display: flex;
    flex-direction: column;
        
}
.slide {
    display: none;
}
.meet-imgs {
    display: block;
    margin: 0 auto;
    max-width: 60vw;
    max-width: 60vw;
}
.a-CS{
    color: #191D88;
    text-align: center;
    margin: 15px;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width:auto;
    padding: 16px;
    margin-top: -50px;
    color: #121212;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

.next{
    right:0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover{
    background-color: rgba(0, 0, 0, 0.8);
}

.numbertext{ 
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    bottom: 92%;
    left: 81%;
}

 /* Device Screen */
 
@media screen and (max-width: 426px) {
    
body{
        font-size: 18px;
        line-height: 30px;
}

/*Navigation-bar */
.page-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: normal; 
    padding: 10px 5px;
}

.page-header_item {
    border-radius: 20px;
    flex: 0 0 200px;
    margin-bottom: 10px;
}

.navigation-list {
    display: grid;
    list-style-type: none;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    align-self: auto;
    text-align: justify;
}

.navigation-list li  {
    display: grid;
    align-content: justify;
    text-align: justify;
    padding: 10px 0px;
    font-weight: bold;
    font-size: 1.5rem;
}
.Hamburger-menu{
    display: block;
}
.Hamburger-menu.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg)
}
.Hamburger-menu.active .bar:nth-child(2) {
    opacity: 0;
}
.Hamburger-menu.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg)
}
.navigation-list {
    position: fixed;
    left: -100%;
    top: 0px;
    gap: 0;
    flex-direction: column;
    width: 100%;
    text-align: center;
    transition: 0.3s;
}

.navigation-list.active{
    left: 0;
}

/* Index page*/
#profile {
    display: flex !important;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 95%;
    text-align: center;
    align-content: justify;
    justify-content:justify;
    margin-top: 50px;
    text-indent: 2px; 
    line-height: 20px;
}

.portrait {
    display:inline-flex !important;
    align-content:center !important;
    max-width: 70vw !important;
    min-width: auto !important;
}

.profile-text {
    display:inline-block;
    align-content: center;
    max-width: 80vw;
}

.check-code {
    display:inline-block;
    align-content: center;
    color: lightgray;
}

/* About me*/
#img-Mexico {
    display: flex;
    margin: 0px auto;
    min-width: 50%;
    position: relative;
}
.about-me-info{
    width: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.about-me_pic {
    border-radius: 20%;
    width: 250px;
    height: auto;
    padding: 5px 20px;
}
.container-skills{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin: 8px;
    padding: 12px;
}

.trable-grid-container {
    width: 100vw;
    margin-left: -50vw;
    margin-right: -50vw;
}

.table-grid{
    display: grid;
    gap: 40px !important;
    grid-template-columns: auto auto !important;
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto !important;
    align-items: center;
    justify-content: center;
}   

/* Contact */
.contact-info {
    display: flex;
    flex: auto;
    flex-direction: column;
}
#email-icon {
    margin: 10px 0px;
}
.contact-details{
    margin: 10px 0px;
}

/* Work page*/
.grid-container {
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    margin:5px;
    width: 95%;
} 

.link-Example {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
}

}

@media screen and (max-width: 768px) {

/*Navigation-bar */
h1 {
font-size: 30px;
}

.page-header {
    display: flex;
    flex-direction: row-reverse;
    padding: 10px;
}

.page-header_item {
    border-radius: 20px;
    flex: 0 0 200px;
    margin-bottom: 10px;
}

.navigation-list {
    display: grid;
    list-style-type: none;
    color:#f7f7cd;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    align-self: auto;
    text-align: justify;
}

.navigation-list li  {
    display: grid;
    align-content: justify;
    text-align: justify;
    padding: 10px 2px;
    margin: 5px 5px;
    font-weight: bold;
    font-size: 1.5rem;
}

.Hamburger-menu{
    display: block;
}
.Hamburger-menu.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg)
}
.Hamburger-menu.active .bar:nth-child(2) {
    opacity: 0;
}
.Hamburger-menu.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg)
}
.navigation-list {
    position: fixed;
    left: -100%;
    top: 0px;
    gap: 0;
    flex-direction: column;
    width: 100%;
    text-align: center;
    transition: 0.3s;
}

.navigation-list.active{
    left: 0;
}

 /*Index */
 #profile {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:1fr;
    width: 95%;
    align-content: justify;
    justify-content:justify;
    margin: 40px 5px;
    text-indent: 2px; 
    line-height: 20px;
}

.portrait {
    display:inline-flex;
    align-content:space-between;
    max-width: 215px;
}

.profile-text {
    display:inline-block;
    align-content: center;
}

.check-code {
    display:inline-block;
    align-content: center;
    color: lightgray;
}

/* About me*/

.container-skills{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin: 8px;
    padding: 12px;
}

.table-grid{
    display: grid;
    gap: 20px 20px;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto;
    align-items: center;
    justify-content: center;
}   

/* Work page*/
.grid-container {
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    margin:5px;
    width: 95%;
} 

.link-Example {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
}

}